.task-item{
    border: 1px solid grey;
    border-radius:8px;
    box-sizing: border-box;
}

.deleteIcon{
   color: red;
   width: 10px;
   height:16px;
    cursor: pointer;
}


.reminder{
    border-left-width: 10px;
    border-left-color: green;
}